body{
    background-image: url(water-background.avif);
    font: 'Gill Sans';
    color: white;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0px;
    text-align: center;
}

p{
    font: 'Aguafina Script';
    font-size: 22px;
    color: white;
    margin-top: 0;
}

nav {
    background-color: #090b0d;
    padding: 20px 40px;
    border-bottom: 1px solid #222;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: #00e6b8;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
}

nav a:hover {
    color: white;
}

nav a.active {
    color: white;
}

nav a.active::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #00e6b8;
    margin-top: 12px;
}

nav .diamond {
    color: blue;
    font-size: 27px;
    margin-left: 5px;
}

nav .social {
    color: white;
    font-size: 28px;
    text-decoration: none;
}

nav .social:hover {
    color: #00e6b8;
}

.american {
    display: flex;
}

.title{
    width: 600px;
    height: auto;
    margin-bottom: 0px;
}

table, th, td{
    border: 1px solid black;
    height: 50px;
    width: 950px;
}